.infoCard {
  background: none;
  text-align: justify;
  color: white;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.introParagraph {
  padding-bottom: 25px;
  font-size: 3vw;
}

.activity {
  font-size: 2.5vw;
  font-weight: bold;
}

.activity-icon {
  font-size: 2.5vw;
}

.sam-pizza-pic {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-me {
  padding-bottom: 75px;
}