.icon-header {
  text-align: center;
  color: white;
  padding-bottom: 25px;
}

.about-header {
    
}

.skill-set,
.tool-set {
  padding-left: 200px;
  padding-right: 200px;
}

.skill-icons-row,
.tool-icons-row {
  justify-content: center;
  padding-bottom: 50px;
}

.icons {
  color: white;
  font-size: 3.5em !important;
  margin: 5px !important;
  border: 2px solid white !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .icons {
    margin: 10px !important;
  }
}

.icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(25, 25, 112, 0.883) !important;
}

.icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}
