@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&family=Source+Code+Pro&display=swap");

#navBarID {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}

.stickyBackground {
  background-color: white !important;
  position: sticky !important;
  transition: all 0.1s ease-out 0.1s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  padding: 0.3rem 2rem !important;
  backdrop-filter: blur(15px) !important;
}

.navbarBackground {
  background-color: black !important;
  position: sticky !important;
  transition: all 0.1s ease-out 0.1s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.stickyText {
  color: midnightblue !important;
  transition: all 0.1s ease-out 0.1s !important;
  backdrop-filter: blur(15px) !important;
}

.navbarText {
  color: white !important;
  transition: all 0.1s ease-out 0.1s !important;
  backdrop-filter: blur(15px) !important;
}

#navigationText {
  padding-left: 10px;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: white;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}