.heading {
  padding-top: 25px;
  padding-left: 10px;
  color: white;
  text-align: center;
  font-size: 40px;
}

.homeRow {
    padding-left: 15px;
    padding-top: 15px;
}

.homeAboutIntro {
  color: white;
}

.homeAboutSocial {
  color: white;
  text-align: center;
  padding-bottom: 75px;
}

.home-icons {
  color: white;
  font-size: 75px;
  padding-left: 25px;
  padding-right: 25px;
}

.rainbowPic {
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}