.jumbotron-heading {
  font-size: 3.5vw;
}

.heading {
  padding-top: 25px;
  color: white;
  text-align: center;
  font-size: 3vw;
}

.samnlola {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}

.typewriter {
  padding-top: 25px;
}