.heading {
  padding-top: 25px;
  padding-left: 10px;
  color: white;
}

.homeRow {
    padding-left: 15px;
    padding-top: 15px;
}

.homeAboutIntro {
  color: white;
}

.homeAboutSocial {
  color: white;
  text-align: center;
  padding-bottom: 75px;
}

.home-icons {
  color: white;
  font-size: 75px;
  padding-left: 25px;
  padding-right: 25px;
}