.jumbotron-heading {
    text-align: center;
    color: white;
    font-size: 75px;
}

.jumbo {
    background: none;
    padding-left: 15px;
    padding-right: 15px;
}

/* #jumbotron-div {
    max-height: 135px;
} */