@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&family=Source+Code+Pro&display=swap");

.footer {
  font-family: "Source Code Pro", monospace;
  background-color: white;
  color: white;
  max-height: 100px;
}

.footer-left,
.footer-center {
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  /* padding-bottom: 10px; */
}

.footer-right {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerText {
  font-size: 2.25vmin;
  vertical-align: middle;
  color: midnightblue;
}

.footerIcons {
  color: midnightblue;
  font-size: 6.5vmin;
}

.footer-icon-images {
  padding-right: 10px;
  padding-left: 10px;
}
