@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&family=Source+Code+Pro&display=swap");

* {
  font-family: "Source Code Pro", monospace;
}

.backgroundImage {
  position: relative;
  background-image: url(../src/Assets/background5.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto; 
}